<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MiniGram</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="../../public/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../public/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../public/assets/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body class="bg-purple-100">
  <div class="wrapper font-sans">
    <header>
      <h1>
        <a href="/" class="font-bold text-lg font-bold">MiniGram  (a big space for small hobbies)</a>
      </h1>
      <nav class="w-full flex justify-between bg-white shadow-md p-4 flow-root align-content:flex-end">
        {{#if loggedIn}}
        <a href="/dashboard" class="flex-1 text-purple-400 hover:text-purple-900 mx-4">dashboard</a>
        <button id="logout" class="bg-purple-400 hover:bg-purple-900 border-solid rounded border-2 border-purple-400 hover:border-purple-900 text-sm text-white font-semibold py-2 px-5 mx-4">logout</button>
        {{else}}
        <a href="/login" class="bg-transparent hover:bg-purple-400 border-solid rounded border-2 border-purple-400 hover:border-none text-sm text-purple-400 font-semibold hover:text-white py-2 px-5 mx-4">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>