<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
      <div>
          <label for="category">Category</label>
          <select name="category" id="category" name="category" >
            <option value="general">General</option>
            <option value="animals">Animals</option>
            <option value="architecture">Architecture</option>
            <option value="dioramas-dynamic">Dioramas-Dynamic</option>
            <option value="dioramas-static">Dioramas-Static</option>
            <option value="vehicles">Vehicles</option>
            <option value="fantasy-animals">Fantasy-Animals</option>
            <option value="fantasy-architecture">Fantasy-Architecture</option>
            <option value="fantasy-dioramas-dynamic">Fantasy-Dioramas-Dynamic</option>
            <option value="fantasy-dioramas-static">Fantasy-Dioramas-Static</option>
            <option value="fantasy-vehicles">Fantasy-Vehicles</option>
            <option value="scifi-animals">Scifi-Animals</option>
            <option value="scifi-architecture">Scifi-Architecture</option>
            <option value="scifi-dioramas-dynamic">Scifi-Dioramas-Dynamic</option>
            <option value="scifi-dioramas-static">Scifi-Dioramas-Static</option>
            <option value="scifi-vehicles">Scifi-Vehicles</option>
            <option value="other">Other</option>
          </select>
      </div>
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="content">Content</label>
      <textarea id="content" name="content"></textarea>
  </div>
    <button type="submit" class="save-post-btn">Create</button>
    <br />
  </form>
</section>
{{#if posts.length}}
<section>
  <br />
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>